<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <div class="right">
          <% if user_signed_in? %>
            Welcome
            <u><%= link_to current_user.display_name, "/profile" %></u> -
            <u><%= link_to "logout", destroy_user_session_path, method: :delete %></u>
          <% else %>
            Please
            <%= link_to "login", new_user_session_path %>
            or
            <%= link_to "signup", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>
